.events_img {
    width: 180.0px;
    height: 227.0px;
    border-radius: 50px 0;
    background: lightgray;
    position: relative;
    z-index: 1;

}

.events {
    background-image: url(../../img/bg.jpg);
}

.overflow {
    width: 153.0px;
    height: 143.0px;
    border-radius: 50px 0;
    border: 1px solid rgba(220, 86, 197, 0.30);
    position: absolute;
    top: -15px;
    left: 40px;
    z-index: 0;
}

.events_item {
    width: 196.0px;
    height: 312.0px;
    position: relative;
}

.events_collections {
    display: flex;
    flex-wrap: wrap;
    gap: 56px;

}

.events_title {
    color: #DC56C5;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.events__date {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.event__link {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}



.pagination {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #111;
    padding: 12px 18px;
    border-radius: 8px;
}

.page {
    background: transparent;
    border: 1px solid transparent;
    color: #aaa;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s ease;
}

.page:hover {
    color: white;
}

.page.active {
    border: 1px solid #a855f7;
    /* фіолетовий */
    color: white;
}

.dots {
    color: #777;
    padding: 0 4px;
}

.wraper {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.pag_numbers {
    color: white;
    font-weight: 700;
}