.footer {
    padding: 25px 0;
    text-align: center;
    background-image: url(../img/bg.jpg);

    &__text {
        color: #939393;
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
    }
}