.header {
    padding: 90px 0;
    text-align: center;
    background-image: linear-gradient(rgba(14, 15, 15, 0.4), rgba(14, 15, 15, 0.4)), url(../img/mobile/hero-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;

    @media screen and (min-width: 768px) {
        padding: 170px 0;
        background-image: linear-gradient(rgba(14, 15, 15, 0.4), rgba(14, 15, 15, 0.4)), url(../img/tablet/hero-tablet.png);
    }

    @media screen and (min-width: 1200px) {
        padding: 210px 0;
        background-image: linear-gradient(rgba(14, 15, 15, 0.4), rgba(14, 15, 15, 0.4)), url(../img/desktop/hero-desktop.png);
    }

    &__logo {
        position: absolute;
        margin-left: 10px;
        margin-left: -190px;
        top: 90px;

        @media screen and (min-width: 768px) {
            margin-left: -545px;
            top: 20px;
        }

        @media screen and (min-width: 1200px) {
            margin-left: -200px;
            top: -20px;
        }
    }

    &__logo-img {
        width: 100px;

        @media screen and (min-width: 768px) {
            width: 150px;
        }

        @media screen and (min-width: 1200px) {
            width: 235px;
        }
    }

    &__bg-logo {
        position: absolute;
        top: -20px;
        left: -90px;
        color: #939393;
        width: 170px;
        height: 180px;
        border-radius: 70%;
        background: linear-gradient(136deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0.00) 92.33%);
        backdrop-filter: blur(15px);

        @media screen and (min-width: 768px) {
            width: 250px;
            height: 250px;
            top: -110px;
            left: -210px;
        }

        @media screen and (min-width: 1200px) {
            width: 330px;
            height: 415px;
            top: -280px;
            left: -320px;
        }
    }

    &__title {
        color: #DC56C5;
        font-size: 15px;
        font-family: "Archivo Black", sans-serif;
        margin-left: auto;
        margin-right: auto;
        font-weight: 100;
        max-width: 200px;
        margin-top: 135px;
        margin-left: 40px;

        @media screen and (min-width: 768px) {
            font-size: 25px;
            font-weight: 300;
            max-width: 350px;
            margin-left: 125px;
            margin-top: 90px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 50px;
            font-weight: 500;
            max-width: 700px;
            margin-right: -930px;
            margin-top: 25px;
        }
    }

    &__box {
        display: flex;
        justify-content: center;
        position: absolute;
        margin-top: -190px;
    }

    &__search {
        width: 13px;
        height: 13px;
        position: absolute;
        margin-left: 170px;
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }
    }

    &__select {
        border-radius: 20px;
        padding: 11px 40px 11px 18px;
        border: none;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(10px);
        font-size: 16px;
        width: 230px;
        color: #939393;
        appearance: none;
        background-size: 14px;
        outline: none;
        position: relative;
        cursor: pointer;

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1200px) {}
    }

    &__select-btn {
        width: 16px;
        height: 16px;
        position: absolute;
        margin-left: 170px;
        fill: black;

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1200px) {}
    }

    &__input {
        border-radius: 20px;
        padding: 11px 18px;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(10px);
        font-size: 16px;
        font-weight: 400;
        width: 230px;
        position: relative;

        &::placeholder {
            color: #939393;
        }
    }

}