.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.backdrop.is-open {
    display: flex;
}

.modal {
    text-align: center;
    border-radius: 130px 0;
    background: #FFF2FD;
    width: 700px;
    height: 100%;
    overflow-y: auto;
    padding: 30px;
    position: relative;

    @media screen and (min-width: 768px) {
        text-align: start;
        border-radius: 170px 0;
    }

    @media screen and (min-width: 1200px) {
        text-align: start;
        border-radius: 210px 0;
    }

    &__info {
        color: #0E0E0E;
        font-size: 15px;
        font-weight: 500;
        gap: 10px;
        margin-top: 5px;
        font-family: Quicksand;
    }

    &__infos {
        color: #0E0E0E;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 5px;
        font-family: Quicksand;
        margin-left: 20px;

        @media screen and (min-width: 768px) {
            margin-left: 0;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 0;
        }
    }

    &__info-box {
        display: flex;
        gap: 20px;
    }

    &__text {
        font-family: Arial;
    }

    &__h3 {
        margin-top: 17px;
        color: #DC56C5;
        font-size: 17px;
        font-weight: 600;
        font-family: Quicksand;
    }

    &__close {
        background-color: #FFF2FD;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    &__close-img {
        width: 20px;
        height: 20px;
    }

    &__buy-tickets {
        margin: 10px 0;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 5px;
        background: #4C00FE;
        color: #FFF;
        font-size: 13px;
        font-weight: 500;
        border: none;
        outline: none;
    }

    &__quarcode {
        width: 29px;
        height: 19px;
    }

    &__more {
        margin-top: 20px;
        padding: 10px 8px;
        border-radius: 5px;
        background-color: #FFF2FD;
        font-family: Quicksand;
        color: #4C00FE;
        font-size: 16px;
        font-weight: 400;
        border: 1.5px solid #4C00FE;
        cursor: pointer;

        @media screen and (min-width: 768px) {
            margin-left: 200px;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 190px;
        }
    }

    &__more:hover {
        background-color: #4C00FE;
        color: #FFF2FD;
        transition: 0.3s;
    }

    &__big-logo {
        display: none;

        @media screen and (min-width: 768px) {
            display: inline;
            width: 250px;
            height: 430px;
        }

        @media screen and (min-width: 1200px) {
            display: inline;
            width: 320px;
            height: 500px;
        }
    }

    &__place {
        width: 12px;
        height: 12px;
    }

    &__logo {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
        margin-bottom: 15px;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }
}

.events_item {
    cursor: pointer;
}