<div class="container">
    <div class="backdrop">
        <div class="modal">
            <img src="#" alt="logo" class="modal__logo" />
            <button class="modal__close" type="button">
                <img class="modal__close-img" src="./img/close.svg" alt="close">
            </button>
            <div class="modal__info-box">
                <img src="#" alt="big-preview" class="modal__big-logo" />
                <div class="modal__text">
                    <h3 class="modal__h3">INFO</h3>
                    <p class="modal__info">
                        Atlas Weekend is the largest music festival in Ukraine.More than 200
                        artists will create a proper music festival atmosphere on 10 stages
                    </p>

                    <h3 class="modal__h3">WHEN</h3>
                    <p class="modal__info">
                        2021-06-09<br />
                        20:00 (Kyiv/Ukraine)
                    </p>

                    <h3 class="modal__h3">WHERE</h3>
                    <p class="modal__info">
                        Kyiv, Ukraine <br />
                        VDNH
                    </p>

                    <h3 class="modal__h3">WHO</h3>
                    <p class="modal__info">The Black Eyed Peas</p>

                    <h3 class="modal__h3">PRICES</h3>
                    <p class="modal__infos">
                        <img src="./img/qr-code.svg" alt="ticket" width="29" height="19" class="modal__quarcode" />
                        Standart 300-500 UAH
                    </p>
                    <button class="modal__buy-tickets" type="button">BUY TICKETS</button>

                    <p class="modal__infos">
                        <img src="./img/qr-code.svg" alt="ticket" width="29" height="19" class="modal__quarcode" />
                        VIP 1000-1500 UAH
                    </p>

                    <button class="modal__buy-tickets" type="button">BUY TICKETS</button>
                </div>
            </div>

            <button class="modal__more" type="button">MORE FROM THIS AUTHOR</button>
        </div>
    </div>
</div>