<div class="container">
    <div class="backdrop">
        <div class="modal">
            <img src="#" alt="logo" class="event-logo" />
            <button class="modal-close" type="button">
                <img class="modal-close-img" src="../img/close.svg" alt="close">
            </button>
            <div class="modal-info-box">
                <img src="#" alt="big-preview" class="modal-big-logo" />
                <div class="modal-text">
                    <h3 class="modal-h3">INFO</h3>
                    <p class="modal-info">
                        Atlas Weekend is the largest music festival in Ukraine.More than 200
                        artists will create a proper music festival atmosphere on 10 stages
                    </p>

                    <h3 class="modal-h3">WHEN</h3>
                    <p class="modal-info">
                        2021-06-09<br />
                        20:00 (Kyiv/Ukraine)
                    </p>

                    <h3 class="modal-h3">WHERE</h3>
                    <p class="modal-info">
                        Kyiv, Ukraine <br />
                        VDNH
                    </p>

                    <h3 class="modal-h3">WHO</h3>
                    <p class="modal-info">The Black Eyed Peas</p>

                    <h3 class="modal-h3">PRICES</h3>
                    <p class="modal-info">
                        <img src="./img/qr-code.svg" alt="ticket" width="29" height="19" class="modal-quarcode" />
                        Standart 300-500 UAH
                    </p>
                    <button class="modal-buy-tickets" type="button">BUY TICKETS</button>

                    <p class="modal-info">
                        <img src="./img/qr-code.svg" alt="ticket" width="29" height="19" class="modal-quarcode" />
                        VIP 1000-1500 UAH
                    </p>

                    <button class="modal-buy-tickets" type="button">BUY TICKETS</button>
                </div>
            </div>

            <button class="modal-more" type="button">MORE FROM THIS AUTHOR</button>
        </div>
    </div>
</div>